<html lang="en">
<head>
  <title>Rent A Car</title>

</head>
<body >
<div>


  <div>
  <div>
    <div>
        Kundin <b><%=firstname%></b> <b><%=lastname%></b>  hat dich kontaktiert.
    </div>
    <div>
        Mietbeginn: <b><%=startdate%></b> bei <b><%=starttime%></b>.
    </div>
    <div>
        Mietende: <b><%=enddate%></b> bei <b><%=endtime%></b>.
    </div>
    <div>
        StraBe, Hausnummer: <b><%=streetandhouseno%></b>.
    </div>
    <div>
        PLZ: <b><%=postcode%></b>.
    </div>
    <div>
        Ort: <b><%=location%></b>.
    </div>
    <div>
        Telefonnummer: <b><%=phonenumber%></b>.
    </div>
    <div>
        E-Mail Adresse: <b><%=email%></b>.
    </div>
    <div>
        Kilometerpakete: 100KM: <b><%=hundredkm%></b>, 200KM: <b><%=twohundredkm%></b>, 500KM: <b><%=fivehundredkm%></b> .
    </div>
    <div>
        Frelkilometer gesamt: <b><%=totalfreekilometers%></b> .
    </div>
    <div>
        Grundpries: <b><%=basicprice%></b> .
    </div>
    <div>
        Zusatzkilometer: zusatzkilometer: (<b><%=distance%></b>)  <b><%=price%></b> .
    </div>
    <div>
        Gesamtpreis: <b><%=totalprice%></b> .
    </div>
    <div>
        Zzgl kaution: <b><%=plusdeposit%></b> .
    </div>
    <div>
        Selbstbeteiligung: <b><%=excess%></b> .
    </div>
    <div>
        Ich bin zurn Zeltpunkt der Anmletung 21 Jahre oder alter: <b><%=atage%></b>.
    </div>
    <div>
        Ich habe die Mietbedingungen gelesen und stimme ausdrucklich zu: <b><%=agreetoterms%></b>.
    </div>
    <div>
        Ich erkenne die Datenschutzerklarung an: <b><%=acceptprivacypolicy%></b>.
    </div>
    
  </div>
  </div>
</div>
</body>
</html>
